# Urxvt controls
URxvt*termName:  screen-256color
URxvt*geometry:  207:47
URxvt*fading:  30
URxvt*background:  Black
URxvt*foreground:  #FF0000
URxvt*colorUL:  yellow
URxvt*underlineColor:  yellow
URxvt.font: xft:Inconsolata:pixelsize=20"
URxvt.letterSpace: -1
URxvt.scrollBar: false
#xvt.borderColor:      #0AA030
URxvt.internalBorder:   1
#URxvt*depth: 32
#URxvt*background: rgba:0000/0000/0000/cccc
URxvt*transparent: true
URxvt*shading: 100

#xvt.color0:             #3f3f3f
#URxvt.color1:           #705050
#URxvt.color2:           #00b45a
#URxvt.color3:           #dfcf8f
#URxvt.color4:           #506070
#URxvt.color5:           #dc8cc3
#URxvt.color6:           #8cd0d3
#URxvt.color7:           #dcdccc
#URxvt.color8:           #709080
#URxvt.color9:           #cc5454
#URxvt.color10:          #4d9f4d
#URxvt.color11:          #f0dfaf
#URxvt.color12:          #4186be
#URxvt.color13:          #ec93d3
#URxvt.color14:          #93e0e3
#URxvt.color15:          #ffffx

