/* Classic Menu Bar (windows only?) */

#toolbar-menubar .menubar-text,
#toolbar-menubar menuitem, 
#toolbar-menubar menu {
  font-size: 14px !important;
}

/* Tab bar */
#TabsToolbar {
  font-size: 16px !important;
}

/* Main Toolbar */
#nav-bar {
  font-size: 14px !important;
}

/* Bookmarks Toolbar */
#PersonalToolbar, 
#PersonalToolbar menuitem,
#PersonalToolbar menu {
  font-size: 18px !important;
}

/* Context menus (this is not all of them) */
menupopup[id*="ContextMenu"] menuitem,
menupopup[id*="ContextMenu"] menu, 
#placesContext menuitem, 
#placesContext menu, 
#backForwardMenu menuitem {
  font-size: 14px !important;
}
/* Curve the background tabs at the upper left and right corners
   May not work on add-on themes. */

/*
======================================================================
* Rules for Tabs
======================================================================
*/
.tab-line,
.tab-background,
.tabbrowser-tab::before,
.tabbrowser-tab::after,
.tabbrowser-tab .tab-icon-image {
	display: none !important;
}

.tab-loading-burst {
	border-radius: var(--tab-height) !important;
}

.tab-content {
	text-align: center;
	font-family: var(--tab-text-font) !important;
	font-size: var(--tab-text-font-size) !important;
}

.tabbrowser-tab:hover {
	background-image: linear-gradient(77deg, var(--color-tab-hover-start), var(--color-tab-hover-end)) !important;
	border-radius: var(--tab-height) !important;
}


.tabbrowser-tab[pinned="true"] {
	/*   border-bottom-right-radius: 4px !important; */
	color: #1d1d1d !important;
	min-width: var(--tab-height) !important;
	max-width: var(--tab-height) !important;
}

.tabbrowser-tab[selected="true"] {
	background-image: linear-gradient(77deg, var(--color-tab-active-start), var(--color-tab-active-end)) !important;
	border: none !important;
	border-radius: var(--tab-height);
}


.tabbrowser-tab {
  border-radius: var(--tab-height) !important;
}

/* Curve active tab and slightly overlap neighboring tabs */
.tabbrowser-tab .tab-background[selected="true"] {
  margin-left: -1px !important;
  margin-right: -1px !important;
  border-radius: 10px 10px 0px 0px / 15px 15px 0px 0px !important;
}
/* Shorten the tab line along the tops of tabs */
.tab-line {
  margin-left: 9px !important;
  margin-right: 9px !important;
}

/* Shorten the vertical lines between background tabs */
.tabbrowser-tab::before, .tabbrowser-tab::after {
  margin-top: 9px !important;
}



/** "Light" Theme (Dark Text) **/

/* Border the background tabs (10% gray) for greater visibility */
#main-window:not([lwthemetextcolor="bright"]) .tabbrowser-tab:not([selected="true"]) {
  border: 1px solid rgba(0,0,0,.1) !important;
  border-bottom-color: transparent !important;
  margin-right: -1px !important;
}
/* Remove short vertical lines between background tabs */
#main-window:not([lwthemetextcolor="bright"]) .tabbrowser-tab::before,
#main-window:not([lwthemetextcolor="bright"]) .tabbrowser-tab::after {
  border: none !important;
}


window#main-window {
	/* *******************************************************************
	You can tweak the major colors here, the names should
	be self explanatory. If you want you can also import the stylesheet
	generated by pywal and pass the variables from that stylesheet on to
	--color-* vars.
	*/

	--color-fg   : #00875F; /* light green */
	--color-bg   : #000000; /* black */
	--color-0    : #00D7AF;
    /*--color-1    : #00D7AF;
    --color-2    : #00D7AF; 
    --color-3    : #00D7AF;
    --color-4    : #00D7AF;
    --color-5    : #00D7AF;*/

	--color-1    : #d0d01e;
	--color-2    : #fc6b89;
	--color-3    : #bc6ccc;
	--color-4    : #f79130;
	--color-5    : #ead2ef;

	--color-tab-active-end       : var(--color-fg);
	--color-tab-active-start     : var(--color-bg);
	--color-tab-hover-end        : var(--color-fg);
	--color-tab-hover-start      : var(--color-bg);
	--color-tab-normal-end       : var(--color-bg);
	--color-tab-normal-start     : var(--color-bg);
	--color-tab-pinned-active    : var(--color-2);
	--color-tab-pinned-normal    : var(--color-5);
	--color-urlbar-buttons-bg    : #fc6b89;
	--color-urlbar-text          : var(--color-0);

	/* Easy way to tweak most params */
	--gap-between-tabs                   : 10px;
	--margin-around-urlbar               : 9px;
	--margin-before-back-button          : 9px;
	--padding-around-searchengine-opts   : 10px;
	--pinned-tab-favicon-dim             : 27px;
	--tab-height                         : 40px;
	--tabs-container-height              : 80px;
	--tab-text-font                      : "System-ui", sans-serif;
	--tab-text-font-size                 : 14pt;
	--margin-before-tab-list             : 16px;
	--margin-after-tab-list              : -17px;
	--urlbar-text-font                   : "mononoki Nerd Font", sans-serif;
	--urlbar-text-size                   : 15pt;
	--urlbar-text-weight                 : 600;
	--urlbar-list-width                  : 50%;
	--urlbar-container-margin            : 12px;


	/* ******************************************************************* */

	--arrowpanel-background: var(--color-bg) !important;
	--arrowpanel-border-color: var(--color-bg) !important;
	--arrowpanel-color: var(--color-fg) !important;
	--arrowpanel-dimmed-even-further: rgba(249, 249, 250, .2);
	--arrowpanel-dimmed-further: rgba(249, 249, 250, .15);
	--arrowpanel-dimmed: rgba(249, 249, 250, .1);

	--autocomplete-popup-background: var(--color-bg) !important;
	--autocomplete-popup-color: var(--color-fg) !important;
	--autocomplete-popup-highlight-background: var(--color-bg) !important;

	--backbutton-active-background: var(--color-fg) !important;
	--backbutton-background: var(--color-fg) !important;
	--backbutton-border-color: var(--color-bg) !important;
	--backbutton-hover-background: var(--color-fg) !important;

	--chrome-content-separator-color: var(--color-bg) !important;
	--chrome-content-separator-color: var(--color-bg) !important;

	--downloads-item-details-opacity: 0.6;
	--downloads-item-font-size-factor: 0.9;
	--downloads-item-height: 5.5em;

	--drag-drop-transition-duration: .3s;

	--in-content-button-background-active: var(--color-bg) !important;
	--in-content-button-background-hover: var(--color-bg) !important;
	--lwt-accent-color: var(--color-bg) !important;
	--lwt-text-color: var(--color-fg) !important;
	--lwt-toolbar-field-background-color: var(--color-bg) !important;
	--lwt-toolbar-field-color: var(--color-bg) !important;
	--lwt-toolbar-field-color: var(--color-fg) !important;
	--lwt-toolbarbutton-icon-fill: var(--color-5) !important;

	--panel-disabled-color: var(--color-0) !important;
	--panel-separator-color: var(--color-bg) !important;

	--tab-min-height: 33px;
	--tabs-top-border-width: 1px;

	--toolbar-bgcolor: var(--color-bg) !important;
	--toolbar-bgimage: none;
	--toolbar-color: var(--color-fg) !important;
	--toolbar-non-lwt-bgimage: var(--color-bg) !important;
	--toolbarbutton-active-background: var(--color-bg) !important;
	--toolbarbutton-focus-outline: var(--color-bg) !important;
	--toolbarbutton-height: 0;
	--toolbarbutton-hover-background: var(--color-bg) !important;
	--toolbarbutton-hover-transition-duration: 150ms;
	--toolbarbutton-icon-fill-opacity: 1;
	--toolbarbutton-inner-padding: 12px !important;
	--toolbarbutton-outer-padding: 4px !important;

	--urlbar-popup-action-color: var(--color-fg) !important;
	--urlbar-popup-url-color: var(--color-fg) !important;
	--urlbar-separator-color: var(--color-bg) !important;
	--urlbar-separator-color: var(--color-bg) !important;
}
/*
======================================================================
* Rules for urlbar + navbar buttons etc
======================================================================
*/
#urlbar-container {
	margin: var(--urlbar-container-margin) !important;

}

nav-bar-customization-target {
	background-color: var(--color-bg) !important;
}

#navigator-toolbox {
	--tabs-border-color: var(--color-bg) !important;
	background-color: var(--color-bg) !important;
	border: none !important;
	border: none !important;
	box-shadow: none !important;
	height: var(--tabs-container-height); /*This controls the height of the container that holds the tabs*/
}

input#urlbar-input {
	caret-color: transparent !important;
	width: 99999px !important;
	text-align: center !important;
	font-weight: var(--urlbar-text-weight) !important;
	font-family: var(--urlbar-text-font) !important;
	font-size: var(--urlbar-text-size) !important;
}

hbox#urlbar[focused=true] {
	color: var(--color-urlbar-text) !important;
}

#urlbar:not(.megabar),
#urlbar.megabar > #urlbar-background,
#searchbar {
	border: none !important;
	box-shadow: none !important;
}

/*.urlbarView:not(.megabar) {
	box-shadow: none !important;
	background-color: var(--color-bg) !important;

	width: var(--urlbar-list-width) !important;
	margin-left: calc(var(--urlbar-list-width) / 2) !important;
	border-radius: 0 8px 8px !important;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 25%) !important;
}*/ /*uncomment to shorten the drop down box in firefox */

